@function rem($value: 16) {
	@return math.div($value, 16) + rem;
}

@function adaptiveValue($minSize, $maxSize, $minWidth: 320, $maxWidth: 1920) {
	// source: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
	// convert to rem
	$minSize: rem($minSize);
	$maxSize: rem($maxSize);
	$maxWidth: rem($maxWidth);
	$minWidth: rem($minWidth);

	// do calculations
	$slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
	$yAxisIntersection: -$minWidth * $slope + $minSize;
	// output as rem
	$minSize: $minSize * 1rem;
	$maxSize: $maxSize * 1rem;
	@return clamp(
		 #{$minSize},
		 #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
		 #{$maxSize}
	);
}