<footer class="footer">
	<div class="footer__container">
		<div class="footer__body">
			<a href="index.html" class="footer__logo">
				<img src="images/dist/icons/sprite.svg#logo" alt="logo">
			</a>
			<div class="footer__right">
				<div class="footer__phones">
					<a href="tel:+380671235467" class="footer__phone">+380671235467</a>
					<a href="tel:+380985354342" class="footer__phone">+380985354342</a>
				</div>
				<div class="footer__socials">
					<a href="#" class="footer__social">
						<img src="images/dist/icons/sprite.svg#instagram" alt="instagram icon">
					</a>
					<a href="#" class="footer__social">
						<img src="images/dist/icons/sprite.svg#facebook" alt="facebook icon">
					</a>
					<a href="#" class="footer__social">
						<img src="images/dist/icons/sprite.svg#telegram" alt="telegram icon">
					</a>
				</div>
				<div class="footer__copy text">
					<p>Lost&Found &copy; 2023 All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
</footer>