<header class="header">
	<div class="header__container">
		<div class="header__body">
			<a href="index.html" class="header__logo">
				<img src="images/dist/icons/sprite.svg#logo" alt="logo">
			</a>
			<nav class="menu">
				<ul class="menu__list">
					<li class="menu__item"><a href="#about" class="menu__link">About us</a></li>
					<li class="menu__item"><a href="#price" class="menu__link">Services and prices</a></li>
					<li class="menu__item"><a href="#specialists" class="menu__link">Specialists</a></li>
					<li class="menu__item"><a href="#gallery" class="menu__link">Gallery</a></li>
					<li class="menu__item"><a href="#reviews" class="menu__link">Reviews</a></li>
					<li class="menu__item"><a href="#contacts" class="menu__link">Contacts</a></li>
				</ul>
			</nav>
			<a href="#" class="header__profile">
				<img src="images/dist/icons/sprite.svg#user" alt="user">
			</a>
		</div>
	</div>
</header>